.result {
  height: calc(100vh-75px);
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  letter-spacing: 0.5px;
  max-width: 220px;
  text-align: center;
}

.text {
  color: var(--grey);
  font-size: 20px;
}

@media (max-width: 450px) {
  .text {
    font-size: 18px;
  }
}
