.input {
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 0.3px;
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 40px;
}

input:focus {
  outline: none;
}

.serchIcon {
  width: 15px;
  position: relative;
  left: 30px;
}

@media (max-width: 370px) {
  .input {
    width: 92%;
  }
}
