.repositories {
  max-width: 860px;
  width: 100%;
  margin-left: 20px;
}

.listRepo {
  display: grid;
  gap: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: -10px;
}

@media (max-width: 760px) {
  .repositories {
    margin-left: 0;
  }
  .title {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 20px;
  }
}
